Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm*,clang-analyzer-*,cppcoreguidelines-*'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none